<div class="row">
  <div class="col-sm-12">
    <div class="homeBox top">
      <h1>What?</h1>
      <p class='divTitle'>GitFit is an outlit for:</p>
      <ol>
        <li>Tracking workouts.</li>
        <li>Exercise variety: different workouts are worth different points.</li>
        <li>Building motivation: at the end of each work week points will be compared.</li>
        <li>Bonding: the office can decide beforehand what the reward will be.</li>
        <li>Most importantly: having fun!</li>
      </ol>

    </div>
    <hr>
    <div class="homeBox">
    <h1>Why?</h1>
    <p class="divTitle">Exercise is scientifically shown to:</p>
    <ol>
      <li>Increase your immune system.</li>
      <li>Improve your sleep.</li>
      <li>Balance your emotions.</li>
      <li>Create stronger bonds between friends and colleagues if done together.</li>
    </ol>
  </div>
  <hr>

  <div class="homeBox bottom">
    <h1>Matches</h1>
    <p class="divTitle">Each week you will be matched against another player with guidelines as follows:</p>
    <ol>
      <li>The week is considered <strong>Monday through Friday</strong>.</li>
      <li>You will be expected to track your own workouts on the <a href="/#/{{ currentUser }}/fitlog">log exercise</a> page.</li>
      <li>Points will be calculated automatically.</li>
      <li>Your total points will be updated on the <a href="/#/matchup">weekly matchup</a>
        and <a href="/#/scoreboard">scoreboard</a> pages.</li>
      </ol>
    </div>
  </div>
</div>
