<div class="row">
  <div class="col-sm-12">
    <div class="homeBox top">
      <h3>Why?</h3>
      <h4>Exercise is scientifically shown to:
        <br><br><b>increase your immune system</b>,
        <br><br><b>improve your sleep</b>,
        <br><br><b>balance your emotions</b>,
        <br><br>and
        <br><br><b>create stronger bonds between friends and colleagues</b> if done together.</h4>
      </div>
      <hr>

      <div class="homeBox">
        <h3>Match Ups</h3>
        <p>Each week you will be pitted against another player on the <a href="/#/matchup">weekly matchup</a> page.
          <br>The week is considered <strong>Monday through Sunday</strong>.
          <br>Record your workouts on the <a href="/#/{{ currentUser }}/fitlog">log exercise</a> page.
          Points will be calculated automatically and your total points will be updated on the <a href="/#/matchup">weekly matchup</a>
          and <a href="/#/scoreboard">scoreboard</a> pages.</p>
        </div>
        <hr>
        <div class="homeBox bottom">
          <h3>Rewards/Compensations/Penalties</h3>
          <p>There are no prizes or punishments for participating in this league. I don’t feel like handling people’s
            money for this, and do I want to tempt people to cheat since this experiment relies entirely on good
            sportsmanship. I have no idea how I would enforce any punishments anyhow.</p>
          </div>
        </div>
      </div>
