<div class="row">
  <div class="col-sm-12">
    <div class="homeBox top">
      <h1>Scoring is completed automatically.</h1>
        <p>Simply log your workouts on the <a href="/#/fitlog">log exercise</a> page.</p>
        <p>Points will be converted based on activity into a <i>points per hour</i> (PPH) format.</p>
    </div>
    <hr>
    <div class="homeBox">
      <h1>High Intensity Exercise: 7000 PPH</h1>
      <p>This is meant to encapsulate things that are anerobic exercises, like:
        <ol>
          <li>Weight lifting.</li>
          <li>Circuit training.</li>
          <li>Crossfit.</li>
          <li>Spin class.</li>
          <li>Sprints.</li>
        </ol>
      </div>
      <hr>
      <div class="homeBox">
        <h1>Low Intensity Exercise: 5000 PPH</h1>
        <p>This is meant to encapsulate things that are aerobic, and slow paced, like:</p>
        <ol>
          <li>Jogging.</li>
          <li>Swimming.</li>
          <li>Yoga.</li>
        </ol>
      </div>
      <hr>
      <div class="homeBox bottom">
        <h1>General Sporting: 3500 PPH</h1>
        <p>This is meant to include any sport that has a high mix of both high and low intensity work, like:
          <ol>
            <li>Basketball.</li>
            <li>Soccer.</li>
            <li>Ultimate Frisbee.</li>
          </ol>
        </div>
        <!-- <h3>Individual Movements</h3>
        <p>These should help you pad your score with some quick points. While you can create your own workout routine
        based on these movements, you will likely find that points can be earned faster through hourly activities.</p>
        <ul>
        <li>Distances are calculated to the decimal point (i.e. If you run for 2.6 miles, you will earn 2600 points).</li>
        <li>Discrete movements (pull-ups, push-ups, etc.) can be accumulated throughout the day (i.e. Every time you go to the bathroom,
        do 10 push ups [a.k.a. "piss-ups"]).</li>
      </ul>
      <h1>Discrete Movements</h1>
      <ul>
      <li><strong>Push Ups: 10 Points Each.</strong> &mdash; Chest to ground push ups. At the very least, your shirt (or
      chest hair) should make contact with the ground.
    </li>
    <li><strong>Pull Ups / Handstand Push Ups: 50 Points Each.</strong> &mdash; Handstand push ups may be done with a
    wall for balance or free standing if you have the balance for it. “Kipping” HPU/PUs are worth ⅓ the value
    (i.e. 6 pull ups + 2 kipping pull ups = [6 + 3* ⅓]*50 = [6+.6]*50 = 6.6*50 = 350 points).
  </li>
  <li><strong>Air Squats: 5 Points Each</strong> &mdash;
  Hip crease below knee crease!
</li>
<li><strong>Agility Ladders: 50 Points Each</strong></li>
</ul>
<h1>PPM Activities (Points Per Mile)</h1>
<ul>
<li><strong>Running: 1000 PPM</strong>
<p>Treadmill is useful since it will tell you how far you ran. Otherwise, use a route-tracking app or
fitbit-like technology to track your mileage.</p>
<p>You don’t necessarily have to be “running” the entire time. If you walk part of your route, that’s
fine, but discretion is important here. <strong>DO NOT</strong> count the steps you take walking around the office.</p>
<p>No bonuses are awarded for inclined running, trail running or otherwise. You are highly encouraged to do
so anyway, for bragging rights.</p>
<p>Cross-country skiing and other variations fall under this category as well. Downhill skiing (obivously) does not.</p>
</li>
<li><strong>Swimming: 3500 PPM</strong>
<p>Figure out the length of your pool and determine how far you swam based on laps.</p>
</li>
<li><strong>Cycling: 250 PPM</strong>
<p>Stationary bike counts. No bonuses are applied for using resistance. Track mileage using a route-tracking app
if not using a stationary. <strong>DO NOT ESTIMATE</strong>.</p>
<p>Commuting/transportation counts. You don’t have to keep tracking the route if you do the same route
frequently (i.e. Commuting to work from home or going to your favorite bar from your home). Use common sense and
have good spirit with this one guys.</p>
</li>
<li><strong>Rowing: 250 PPK (measure in kilometers)</strong>
<p>Use a rowing machine to track distance. I have no idea how to calculate in-water rowing.
Don’t question why this one is using the metric system.</p>
</li>
</ul> -->
</div>
</div>
