<div class="view-scoreboard" ng-controller="ScoreCtrl">
  <script>mixpanel.track("Scoreboard Page Loaded")</script>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Scoreboard <br> <small>{{ dateRange[0] | date: 'mediumDate' }} - {{ dateRange[1] | date: 'mediumDate' }}</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-responsive">
                <thead>
                    <th>Player</th>
                    <th>Total Points</th>
                </thead>
                <tbody ng-repeat="datum in userData">
                    <tr>
                        <td>{{datum.ownerName}}</td>
                        <td>{{datum.totalPoints}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
