@media only screen {
  html {}
  body {}
  h1, h2, h3, h4, h5, h6 {}
  a {}
  a:hover, a:focus, a:active {
    text-decoration: none;
  }
}

/* SMALL SCREENS ONLY (0 - 640px) */

@media only screen and (max-width: 40.063em) {}

/* MEDIUM SCREENS AND UP (641px+) */

@media only screen and (min-width: 40.063em) {
  /* HEADER */
  /* ================= */
  .wrapper-header {
    width: 100%;
    height: 40px;
    background: #222;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper-header .btn {
    padding: 3px 9px;
    border: 2px solid #757575;
    font-weight: 300;
    color: #fff;
  }
  .wrapper-header .btn:hover {
    color: #fff;
    border-color: #fff;
    background-color: #4d4d4d;
  }
  .wrapper-header .title-header {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    padding: 0 1.5rem;
    letter-spacing: 1px;
  }
  .menu-actions {
    margin: 0;
    padding: 0;
  }
  .menu-actions li {
    display: inline;
    padding: 0 0.5rem;
  }
  .menu-actions li:last-child {
    padding-right: 1.5rem;
  }
  /* NAVIGATION */
  /* ================= */
  .wrapper-nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    background: #00A8E0;
  }
  .wrapper-nav .menu {
    margin: 0;
    padding: 0;
  }
  .menu > li {
    display: inline-block;
    float: left;
    background: transparent;
  }
  .menu > li:hover {
    background: #0197CA;
  }
  .menu > li > a {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 1.5rem;
  }
  .menu > li > a:hover {
    text-decoration: none;
    color: #fff;
  }
  /* CONTENT */
  /* ================= */
  body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  body p {
    font-size: 1.5em;
  }
  .wrapper-body {
    padding: 1.5rem 3rem;
    min-height: 400px;
  }
  /* HOME */
  /* ================= */
  .homeBox {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
    font-size: 14px;
    font-weight: 300;
  }
  .homeBox.top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .homeBox.bottom {
    margin-bottom: 150px;
  }
  p.divTitle {
    font-size: 16px;
    /*font-weight: 600;*/
  }
  /* LOG VIEW */
  /* ================= */
  .view-log .menu-actions {
    margin: 4rem 0px 0px;
  }
  .table-log h4 {
    margin: 0.5rem 0;
  }
  .table-log .label-section {
    padding: 0.5rem 1rem;
  }
  .table-log .label-category {
    font-weight: 600;
  }
  .table-log .label-points {
    vertical-align: middle;
  }
  .table-log .label-description, .table-log .table .label-date {
    font-size: 12px;
    color: #888;
  }
  .table-log .table .label-day {
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
  }
  .table-log .table thead > tr > th {
    text-align: center;
  }
  .table-log .table tbody > tr > .cell-activity {
    width: 20%;
  }
  .table-log .table tbody > tr > .cell-number {
    vertical-align: middle;
    width: 10%;
  }
  .table-log .table tbody > tr > .cell-points {
    vertical-align: middle;
    font-weight: bold;
  }
  /* TABATAS */
  /* ================= */
  ol.list-tabatas li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  /*.table-log .table tbody > tr > td:not(.label-activity) {*/
  /*width: 6%;*/
  /*}*/

  /* MUSIC PLAYER */
  /* ================= */
  .musicBody {
    text-align: center;
    position: fixed;
    background-color: #262626;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    bottom: 25px;
    left: -300px;
    z-index: 1;
  }
  .musicSlide {
    position: fixed;
    background-color: #262626;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    bottom: 25px;
    left: -10px;
    z-index: 1;
  }
  .slideTab {
    color: white;
    font-size:7px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    z-index: -1;
    background-color: #262626;
    width: 20px;
    height: 50px;
    margin-left: 395px;
    margin-top: 20px;
    cursor: pointer;
  }
  .slideTab>p {
    vertical-align: 100%;
  }
  #playButton {
    width: 80px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
  }
  #playButton:hover {
    cursor: pointer;
  }
  #backwardButton {
    margin-top: 25px;
    width: 60px;
    margin-left: 20px;
  }
  #backwardButton:hover {
    cursor: pointer;
  }
  #backwardButton:active {
    margin-top: 20px;
    cursor: pointer;
    width: 59px;
  }
  #stopButton {
    margin-top: 25px;
    width: 50px;
    margin-left: 10px;
  }
  #stopButton:hover {
    cursor: pointer;
  }
  #stopButton:active {
    margin-top: 20px;
    cursor: pointer;
    width: 59px;
  }
  #forwardButton {
    margin-top: 20px;
    width: 60px;
    margin-left: 10px;
  }
  #forwardButton:hover {
    cursor: pointer;
  }
  #forwardButton:active {
    margin-top: 25px;
    cursor: pointer;
    width: 59px;
  }
  /* FOOTER */
  /* ================= */
  .wrapper-footer {
    width: 100%;
    min-height: 60px;
    background: #222;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
/*Correct side scroll*/
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
